

/* slector de atributo */
[href] {
    text-decoration: none;
}

[href="https://google.com.ar"] {
    color: darkred;
}

[class] {
    background-color: #ddd;
}

/* Seleccionar todos los elmentos que comiencen con el valor del atributo que se da. */
[href^=https] {
    color: olivedrab;
}

/* Seleccionar todos los elementos que terminan con el valor del atributo que se da. */
[href$="2222"] {
    color: darksalmon;
}

[href$=".com.ar"]{
    background-color: yellowgreen;
}

/* De hermano adyacente (selector + selector) */
/* Selecciona unicamente al elemento que sigue del primer elemento */

section h2 + p {
    color: goldenrod
}

/* General de hermanos (selector ~ selector) */
/* Selecciona a todos los elementos que siguen después del primer elemento. */

aside h3 ~ p {
    color: indianred
}

/* Selector Universal (selector * selector) */
/* Selecciona a todos los elementos disponibles. */

/* Combinar de hijo (selector > selector) */
/* Permite seleccionar elementos que son directamente hijos de otros. */

.contenedor nav > a {
    color: blueviolet;
}

/* Combinador de descendientes (selector selector) */
/* Selecciona los elementos que sean descendientes de otro. */