* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer {
    margin: 2rem;
}

.boxModulos {
    border: 2px black solid;
    margin: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}